AI Test Plan Generator with n8n.json
{
  "name": "AI Test Plan Generator with Gemini",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "27fd46a5-48d1-4f36-817b-174bca19187c",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        3472,
        384
      ],
      "webhookId": "86113672-832d-4d40-a324-4405cfe288fa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "testPlanTemplate",
              "value": "comprehensive",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "recipientEmail",
              "value": "<__PLACEHOLDER_VALUE__Your email address__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8ffeff29-ade5-4f06-bd34-1d044e355d6f",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3696,
        384
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an expert QA engineer and test planning specialist. Your task is to create comprehensive, well-structured test plans based on user requirements.\n\nWhen creating a test plan, include:\n\n1. **Test Objectives**: Clear goals and scope of testing\n2. **Test Strategy**: Overall approach (functional, integration, regression, performance, security, etc.)\n3. **Test Scope**: What will be tested and what won't be tested\n4. **Test Cases**: Detailed test scenarios with:\n   - Test case ID\n   - Description\n   - Preconditions\n   - Test steps\n   - Expected results\n   - Priority (High/Medium/Low)\n5. **Test Data Requirements**: What data is needed for testing\n6. **Test Environment**: Required setup and configurations\n7. **Entry and Exit Criteria**: When to start and stop testing\n8. **Risk Assessment**: Potential risks and mitigation strategies\n9. **Timeline**: Estimated duration for test execution\n\nFormat your response in clear, structured markdown with proper headings and bullet points. Be thorough but concise."
        }
      },
      "id": "0703ab84-f3f0-4569-aaea-92ecd500233e",
      "name": "Test Plan Generator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3920,
        384
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0b3dfe21-7ca4-4508-b6c3-5b11ad11164c",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3992,
        608
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "OamZF76FADjPgzx0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "emailSubject",
              "value": "=Test Plan Generated - {{ $now.toFormat(\"yyyy-MM-dd HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "emailBody",
              "value": "=# Test Plan Request & Response\n\n## 📝 Request\n**Date:** {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\n**User Input:** {{ $('Workflow Configuration').item.json.chatInput }}\n\n---\n\n## ✅ Generated Test Plan\n\n{{ $('Test Plan Generator Agent').item.json.output }}\n\n---\n\n*Generated by AI Test Plan Generator with Gemini*",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7d6fa028-4629-403a-b057-82c4a5f9557c",
      "name": "Prepare Email Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4272,
        384
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ \"arunamallaraddi@gmail.com\" }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "text",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "537ed5e2-7343-4e76-a37c-8b41c0dc0ea1",
      "name": "Send Test Plan Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4496,
        384
      ],
      "webhookId": "4f73a63d-c753-4882-823e-51397a699794",
      "credentials": {
        "gmailOAuth2": {
          "id": "iyVFyB14bHGyNmkT",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Test Plan Generator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Test Plan Generator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Test Plan Generator Agent": {
      "main": [
        [
          {
            "node": "Prepare Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Content": {
      "main": [
        [
          {
            "node": "Send Test Plan Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a460f84-efc7-419f-8c2c-929ba64b5272",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6dc82a77d6324f3a62c32f519c986a344c88b24c742c6b12ed8068ad7980e89"
  },
  "id": "ErVlLHDl2Govj8Cu",
  "tags": []
}